{% extends 'base.html' %}

{% block content %}

<div class="header-container">
    <h1>
        Dashboard
        <span class="info-link">
            <a href="#">info</a>
        </span>
    </h1>
    <a style="margin-left: 63%;" href="#"> 
        <button class="generate-report-btn">
            <i class='bx bxs-download'></i> Generate Report
        </button>
    </a>

    <a href="#"> 
    <button class="generate-report-btn">
        <i class='bx bxs-download'></i> Import Profiles
    </button>
    </a>
</div>
{% endblock %}

